{% extends 'base-arrow.html.twig' %}
{% block title %}Le Blog de DB | Blog du programmeur informatique{% endblock %}
{% block description %}La page d'accueil du Blog de DB {% endblock %}
{% block stylesheets %}
    <link href="{{ asset('/css/index.css') }}" rel="stylesheet">{% endblock %}
{% block body %}
    <header class="container-fluid scrolling" id="header-index">
        <div class="col-xs-12 col-md-10 offset-md-1">

            <h1>Le blog de l'informaticien généraliste!</h1>

        </div>
    </header>

    <!-- Bandeau de couleur -->
    <section class="container-fluid bandeau"></section>

    <!-- Derniers articles publiés sur le blog -->
    <section class="container-fluid white" id="last-articles">
        <div class="row">
            <div class="col-xs-12 col-md-10 offset-md-1">
                <h2>Les derniers articles du Blog</h2>
                <hr>

                <!--CARROUSEL BLOG-->
                <div class="row">
                    <div class="col-md-12" data-wow-delay="0.2s">
                        <div id="carouselBlog" class="carousel slide" data-ride="carousel">
                            <!-- Carousel Slides / Quotes -->
                            <div class="carousel-inner text-center">
                                <!-- Quotes -->
                                {% set start = true %}
                                {% for post in carouselArticles %}

                                    <div class="carousel-item {% if (start) %}active{% set start = false %}{% endif %}">

                                        <blockquote>
                                            <div class="row">
                                                <div class="col-sm-8 offset-sm-2 col-xs-10 offset-xs-1">
                                                    <cite>{{ post.content|striptags|u.truncate(250)|raw }}</cite>
                                                    <a href="{{ path('article_blog',{ 'theme': theme,'link': post.link }) }}">
                                                        <small>{{ post.title }}</small>
                                                    </a>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>
                                {% endfor %}
                            </div>
                            <!-- Carousel Buttons Next/Prev -->
                            <a data-slide="prev" class="carousel-control-prev" type="button"
                               data-bs-target="#carouselBlog" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a data-slide="next" class="carousel-control-next" type="button"
                               data-bs-target="#carouselBlog" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
