{% extends 'base.html.twig' %}

{% block title %}Le Blog de DB | Mentions légales{% endblock %}
{% block description %}Les références sur les outils de conceptions utilisées pour les pages de base{% endblock %}
{% block body %}
    <section class="container-fluid">
        <div class="container">
            <div class="row">
                <h1></h1>
            </div>
        </div>
    </section>

    <section class="bandeau container-fluid"></section>

    <section class="container-fluid white" id="mentions">
        <div class="container">
            <div class="row">
                <h2>Mentions</h2>
                <hr>
            </div>

            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <p>Le site a été écrit avec du PHP et le framework Symfony en version 5.4 en mode mvc</p>
                    <p>
                        La gestion des styles utilisés dans ce site est une gestion normalement utilisée pour les
                        langues.
                        Ce qui permet une non-utilisation des cookies pour le choix du formatage utilisateurs
                    </p>
                    <p>
                        Les styles choisis proviennent de <a href="https://bootswatch.com">bootswatch</a>
                    </p>
                    <p>
                        Les codes du site sont en open source sur <a href="https://github.com/dbeauseigneur/blog-tuto">github</a>
                    </p>
                    <p><span class="bold">Site développé par:</span>
                        <a href="https://fr.linkedin.com/in/damien-beauseigneur">Damien BEAUSEIGNEUR</a><br>
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
