{% extends 'base.html.twig' %}

{% block title %}La Folle Agence | Prestations - Evénementiel, Community Management, Veille concurrentielle{% endblock %}
{% block body %}
    <header>
        <section class="container-fluid" id="prestation-header">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2 page-header-style">
                    <h1>Que fait-on pour <span>vous</span> ?</h1>
                </div>
            </div>
        </section>
    </header>

    <section class="bandeau container-fluid"></section>

    <section class="container-fluid white" id="gestion-event">
        <div class="row">
            <div class="col-xs-12">
                <h2>Gestion de projets événementiels</h2>
                <hr>
            </div>

            <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1">
                <img src="{{ asset('images/prestations-evenementiel-la-folle-agence.png') }}"
                     alt="Prestation évenementielle">
            </div>

            <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0">
                <p>Je fais partie depuis maintenant 3 ans de l’organisation de divers évènements
                    (<a href="http://www.museomix.org/">Museomix</a>,
                    <a href="http://www.blendwebmix.com/">Blend Web Mix</a>
                    ou encore <a href="http://www.fhacktory.com/"> fHACKtory</a>), forte de ces diverses expériences je
                    vous propose de vous accompagner dans
                    la gestion de vos évènements. Que ce soit la gestion d’équipe avant et pendant l’évènement, la
                    gestion des plannings, la recherche de lieux ou encore la gestion du budget, je vous aide dans la
                    mise en place et la gestion de vos évènements.
                <p>Je vous accompagne également dans la mise en place d’une stratégie Social Média afin d’animer votre
                    communauté avant, pendant et après l’évènement.</p>
                <p>Cette gestion d’évènement s’articule donc autour des points suivant : </p>
                <ul class="text-pres">
                    <li>Prise de brief</li>
                    <li>Gestion du budget</li>
                    <li>Relations avec le lieu choisi</li>
                    <li>Gestion de planning des équipes</li>
                    <li>Gestion des réseaux sociaux</li>
                    <li>Gestion de la billetterie</li>
                    <li>Bilan de l’évènement</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Forme triangle en SVG -->
    <section class="container-fluid triangle-down">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 5" class="row" preserveAspectRatio="xMinYMin meet">
            <title>Triangle pointe sections blanches</title>
            <polygon points="50 3, 100 0, 0 0" fill="rgba(255,255,255,1)"/>
        </svg>
    </section>

    <section class="container-fluid grey" id="gestion-projet">
        <div class="row">
            <div class="col-xs-12">
                <h2>Gestion de projets</h2>
                <hr>
            </div>

            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-1 col-sm-5">
                <h3>Je vous accompagne de A à Z dans la mise en place de vos projets digitaux et plus particulièrement
                    en Communication Digitale.
                </h3>
                <h3>
                    Je vous aide à la gestion des plannings et des délais, à la relance clients,
                    au suivi budgétaire de vos projets. Mais aussi dans la mise en place de votre stratégie de
                    communication
                    digitale.
                </h3>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0">
                <p class="text-pres">Cette gestion d’évènement s’articule donc autour des points suivant : </p>
                <ul class="text-pres">
                    <li>Prise de brief / Définition de vos besoins</li>
                    <li>Création d’un cahier des charges</li>
                    <li>Définition de vos objectifs</li>
                    <li>Accompagnement à l’environnement de votre projet</li>
                    <li>Accompagnement à la gestion de vos prestataires</li>
                    <li>Accompagnement à la gestion du budget</li>
                    <li>Accompagnement à la gestion de planning</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="bandeau container-fluid"></section>

    <section class="container-fluid white" id="community-management">
        <div class="row">
            <div class="col-xs-12">
                <h2>Community Management</h2>
                <hr>
            </div>

            <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1">
                <h3>Aujourd’hui être présent sur les réseaux sociaux est un enjeu d’importance pour une
                    entreprise.</h3>
                <p class="text-pres">Je vous propose donc un accompagnement sur mesure pour la gestion des réseaux
                    sociaux, allant de la création de comptes sur les réseaux sociaux et d’une ligne éditoriale à la
                    mise en place d’indicateurs de performances.</p>
                <p class="text-pres">Je gère votre présence sur les réseaux sociaux tels que Facebook, Twitter, Google
                    +, Instagram, Pinterest, Linkedin, Viadeo…</p>
                <p class="text-pres">J’effectue sur ces réseaux sociaux notamment l’animation de vos pages, la
                    modération des commentaires, la gestion de la communauté… afin de permettre le développement de
                    votre communauté, le développement du taux d’engagement.</p>
            </div>

            <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0">
                <ul>
                    <li>Création de comptes sur les réseaux sociaux (Facebok, Twitter, Google+, Instagram, Viadeo,
                        Linkedin…);
                    </li>
                    <li>Création et gestion de communauté sur les réseaux sociaux;</li>
                    <li>Accompagnement à la création de pages sur les réseaux sociaux;</li>
                    <li>Création et rédaction de contenus;</li>
                    <li>Animation de communauté;</li>
                    <li>Modération des commentaires.</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Forme triangle en SVG -->
    <section class="container-fluid triangle-down">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 5" class="row" preserveAspectRatio="xMinYMin meet">
            <title>Triangle pointe sections blanches</title>
            <polygon points="50 3, 100 0, 0 0" fill="rgba(255,255,255,1)"/>
        </svg>
    </section>

    <section class="container-fluid grey" id="veille-concurrentielle">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <h2>Veille concurrentielle</h2>
                <hr>
            </div>

            <div class="col-sm-5 col-sm-offset-1">
                <img src="{{ asset('images/prestation-veille-concurrentielle-la-folle-agence.jpg') }}"
                     alt="veille concurentielle">
            </div>

            <div class="col-sm-5 text-pres">
                <h3>Dans le cadre de votre veille concurrentielle, je vous propose de vous aider à définir des mots-clés
                    pertinents correspondant à votre marque.</h3>
                <p>Par la suite je met en place une veille sur le web (réseaux sociaux, forums, blogs…) et je vous
                    fournis des rapports complets vous permettant de mieux comprendre ce que les internautes disent dans
                    l’optique d’appréhender les nouveaux besoins clients, les nouveautés dans votre secteur ou encore
                    d’anticiper un éventuel déficit d’image.</p>
                <ul>
                    <li>Veille concurrentielle</li>
                    <li>Veille informationnelle</li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
