{% extends 'base.html.twig' %}

{% block scroll_arrow %}
    <div class="col-xs-2 col-xs-offset-9 col-sm-1 col-sm-offset-11 hidden" id="scroll-top-button">
        <a href=".scrolling" id="scroll-top-arrow">
            <img src="{{ asset('images/scroll-down-la-folle-agence-lyon.png') }}"
                 alt="Remontez en haut de la page d'accueil">
        </a>
    </div>
{% endblock %}
